@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom premium scrollbar for modern interfaces */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Slate 900 */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* Slate 700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; /* Yellow 500 */
}
